{% extends "admin/base.html" %}
{% load i18n %}{% load admin_static %}

{% block title %}{% include "_brandname.html" %} Admin{% endblock %}

{% block branding %}
  <a class="navbar-brand" href="{% url 'admin:index' %}">{% include "_brandname.html" %} Admin</a>
{% endblock %}

{% block nav-global %}
  <a class="btn btn-default" href="{% url 'home' %}"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Switch to Site</a>
{% endblock %}

{% block extrahead %}{{ block.super }}
  <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
{% endblock %}
