{% extends "base.html" %}
{% load static %}

{% block more_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}builds/css/build_status.css" />
{% endblock %}

{% block title %} - {{ release.app.title }} - Build History{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>
        {{ release.app.title }}
        <small>{{ release.version }}</small>
      </h1>
      <h3>Total Builds : {{ builds | length }}</h3>
    </div>
  </div>
</div>


<div class="row">
  <div class="span12">
     <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th style="text-align:left">Date</th>
            <th style="text-align:left">Link to Jenkins build</th>
            <th style="text-align:center">Status</th>
          </tr>
        </thead>
        <tbody>
            {% for build in builds %}
            <tr>
                <td>{{ build.date_time }}</td>
                <td>
                    <a href="{{ build.url|default:'#' }}">{{ build.pipeline_name }}</a>
                </td>
                <td>
                  {% if build.status == 0 %}
                  <img title='failed' class='icon' src="{% get_static_prefix %}builds/img/failure.png"></img>
                  {% elif build.status == 1 %}
                    <img title='success' class='icon' src="{% get_static_prefix %}builds/img/success.png"></img>
                  {% elif build.status == 2 %}
                    <img title='building' class='icon' src="{% get_static_prefix %}builds/img/building.png"></img>
                  {% else %}
                    <img title='aborted' class='icon' src="{% get_static_prefix %}builds/img/aborted.png"></img>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
     	</tbody>
     </table>
  </div>
</div>
{% include "pagination.html" with	page=builds %}
{% endblock %}